<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Rating: <span id="act-rating">5</span></h1>
        <textarea id="input-text" style="width: 100%; height: 200px;"></textarea>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>